{% extends 'base.html' %}
{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
  <h3>Booker Cart</h3>
  <div class="well">
    
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr><th>#</th><th>Book Title</th><th>Rent From</th><th>Rent To</th><th>Cost</th><th></th></tr>
        {% for item in cart %}
        <tr><td>{{ forloop.counter }}</td><td>{{item.book.title}}</td><td>{{item.start_date}}</td><td>{{item.stop_date}}</td><td>${{item.rent}}</td><td><a href="{% url 'delete_cart_item' book_id=item.book.id %}" class="btn btn-sm btn-danger">Delete</a></td></tr>
        {%endfor%}
      </table>
      {% if cart|length > 0 %}
      <a href="{% url 'checkout' %}" class="btn btn-success btn-sm">Checkout</a> <a href="{% url 'clear_cart' %}" class="btn btn-warning btn-sm">Clear Cart List</a><strong class="pull-right">Total Cost: ${{cart.total_rental_cost}}</strong>
      {%else%}
      <strong>You have no Books in your cart</strong>
      {%endif%}
      
    </div>
  </div>
</div>
<div class="col-md-2"></div>
{% endblock %}